ul{
    list-style: none;
    padding: 0 !important;
};
a{
    text-decoration: none !important;
    color: black !important;
};
p , h2{
    margin-bottom: 0 !important;
}
body{
    box-sizing: border-box !important;
    font-weight: bold !important;
}